* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Mason';
    src: url(/font/masonchronicles.ttf);
}

body {
    font-family: 'Roboto', sans-serif;
    /* color: #FFFFFF; */
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background: url(/img/background.jpg) no-repeat top right 20%, #141218;*/
}

.header {
    width: 1134px;
    max-width: 85%;
    margin: auto;
    margin-top: 50px;
}

.header_container {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo_img {
    width: 90px;
    height: 50px;
}

.list_button {
    display: flex;
    width: 228px;
    padding: 0;
    margin-left: 70px;
    list-style: none;
}

.header_nav_button_ur {
    text-decoration: none;
    /* color: #FFFFFF; */
}

.header_nav_button:not(:last-child) {
    margin-right: 25px;
}

.content_social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_nav {
    margin-right: auto;
    margin-left: 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.header_social:not(:last-child) {
    margin-right: 20px;
}

.button_burger {
    display: none;
}

main {
    width: 1134px;
    max-width: 85%;
    margin: auto;
    margin-bottom: 100px;
}

.container {
    max-width: 85%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.genr_container {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 0;
    animation-delay: 0.2s;
}

.container_ratting {
    display: flex;
    align-items: center;
    animation-delay: 0.6s;
}

.container_title {
    font-family: 'Mason';
    font-style: normal;
    font-weight: 500;
    font-size: 76px;
    line-height: 89px;
    margin: 0;
    margin-top: 10px;
    animation-delay: 1s;
}

.container_text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    animation-delay: 1.4s;
}

.container_button {
    display: inline-block;
    text-decoration: none;
    background: #9D2929;
    border-radius: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 30px;
    padding: 22px 70px;
    animation-delay: 1.8s;
}

.ratting {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-left: 10px;
}

.button_play {
    width: 100px;
    height: 100px;
    background: #9D2929;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin: auto;
    margin-right: 0;
}

.container_about {
    width: 500px;
}

.play {
    position: relative;
    transform: translateX(5px);
}

.button_play::before {
    content: " ";
    position: absolute;
    background: #9D2929;
    opacity: 0.5;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    top: -16px;
    left: -16px;
}

.anim_sw {
    animation-delay: 1.8s;
}

.card {
    display: flex;
    align-items: center;
}

.seria_text_container {
    padding: 70px 0px 13px 13px;
}

.card_seria {
    width: 164px;
    height: 113px;
    border-radius: 5px;
}

.text_card_title {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}

.text_card_text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.seria_button_switch {
    background: url(/img/arrow.svg) no-repeat center;
    cursor: pointer;
    width: 35px;
    height: 30px;
    border: none;
}

/* .footer_content {
    background-color: #141218;
} */

.footer_content_block {
    width: 1134px;
    max-width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text_reserved {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #3A383C;
}

.link_policy:not(:last-child) {
    margin-right: 25px;
}

.link_policy {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #3A383C;
}

.swiper {
    margin-left: 0;
    max-width: 340px;
}

.swiper_container {
    display: flex;
    align-items: center;
    max-width: 400px;
}

@media (max-width: 860px) {
    .footer_content_block {
        justify-content: center; 
        flex-direction: column;
    }

    .reserved {
        order:2;
        margin: 0;
    }

    .policy {
        margin: 17px 0;
    }

    .button_play {
        display: none;
    };
}

@media (max-width: 670px) {
    .button_burger {
        display: block;
        position: absolute;
        background-color: #FFFFFF;
        width: 30px;
        height: 2px;
        top: 49px;
        right: 35px;
    }

    .button_burger.active {
        height: 0;
    }

    .button_burger::before {
        content: '';
        display: block;
        position: absolute;
        background-color: #FFFFFF;
        width: 30px;
        height: 2px;
        margin-top: -7px;
        transition: transform 0.2s;
    }

    .button_burger.active::before {
        transform: rotate(45deg);
        margin-top: 0;
    }

    .button_burger::after {
        content: '';
        display: block;
        position: absolute;
        background-color: #FFFFFF;
        width: 30px;
        height: 2px;
        margin-top: 7px;
        transition: transform 0.2s;
    }

    .button_burger.active::after {
        transform: rotate(-45deg);
        margin-top: 0;
    }

    .header_container {
        display: none;
    }

    .header_container.active {
        display: flex;
        position: absolute;
        background-color: #9D2929;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
    }

    .logo_img {
        width: 50px;
        height: 35px;
        margin: 40px 100px 25px;
    }

    .header_nav {
        display: flex;
        order: 3;
        margin-left: 0;
        margin-right: 0;
    }

    .list_button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }

    .header_nav_button:not(:last-child) {
        margin-right: 0;
    }

    .header_nav_button {
        margin-bottom: 17px;
    }

    .content_social {
        margin-bottom: 10px;
    }
}

@media (max-width: 570px) {
    .container_title {
        font-size: 65px;
        line-height: 70px;
    }

    .container_text {
        font-size: 12px;
    }

    .genr_container {
        font-size: 12px;
        line-height: 15px;
    }

    .container {
        margin-bottom: 60px;
    }

    .container_button {
        font-size: 12px;
        line-height: 14px;
        margin-top: 25px;
        padding: 17px 45px;
    }

    .reserved {
        order: 0;
    }

    .footer_content_block {
        align-items: flex-start;
        justify-content: flex-start;  
    }

    .policy {
        margin: 0;
        margin-bottom: 5px;
    }

    .text_reserved {
        font-size: 12px;
        line-height: 15px;
    }

    .link_policy {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }

    .swiper {
        margin-left: 0;
        max-width: 163px;
        margin-right: 20px;
    }
}

@media (max-width: 400px) {
    .container_button {
        font-size: 10px;
        line-height: 10px;
        margin-top: 20px;
        padding: 15px 30px;
    }

    .container_title {
        font-size: 55px;
        line-height: 50px;
    }

    .container_text {
        font-size: 10px;
    }

    .genr_container {
        font-size: 10px;
        line-height: 10px;
    }

    .seria_button_switch {
        width: 30px;
    }

    body {
        background: url(/img/background.jpg) no-repeat top right 39%, #141218;
    }
}